.report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px;

  .start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .end {
    ion-button {
      margin-inline: 0px;
    }
  }

  .avatar {
    border-radius: 50%;
  }

  .username {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .location {
    display: flex;
    align-items: flex-start;
    margin-top: 3px;
    opacity: 0.8;
    width: 100%;
    font-size: 12px;

    ion-icon {
      color: var(--ion-color-primary, #3880ff);
      margin-right: 3px;
    }

    span {
      display: block;
      max-width: calc(100% - 15px);
    }
  }

  .report-header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2);
      margin-right: 10px;
      transition: all 300ms;
    }

    button:last-child {
      margin-right: 0px;
    }

    button:hover {
      background-color: var(--ion-color-primary, #3880ff);

      .c-blue {
        color: white;
      }
    }
  }
}

.report-header .avatar {
  border-radius: 50%;
}

.report-header .report-header-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
}

.report-header .report-header-details label {
  font-weight: bold;
}

.report-header {
  .report-header-actions ion-button {
    margin-right: 5px;
  }

  .report-header-actions ion-button:last-child {
    margin-right: 0px;
  }
}

.report-body {
  font-size: 14px;
  line-height: 1.4;
  padding: 0px 0px 10px;
}

.report-body-actions {
  button {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: 0px solid transparent;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--ion-color-primary, #3880ff);
    line-height: 100%;

    ion-icon {
      margin-right: 5px;
      font-size: 16px;
    }
  }
}

.report-note {
  background-color: #65b9f8;
  color: white;
  border: 1px solid #43c7f6;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.4;
}

.report-attachements {
  padding-top: 10px;
  padding-bottom: 5px;
}

.report-ogimage {
  position: relative;
}

.report-ogimage ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.report-ogimage img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.report-location ion-badge {
  margin-right: 5px;
  font-weight: 500;
  font-size: 12px;
  padding: 5px;
}

.report-location ion-badge:last-child {
  margin-right: 0px;
}

.toggler-row {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0px 15px;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    transition: all 300ms;
    white-space: nowrap;

    ion-icon {
      margin-right: 5px;
    }
  }

  button:last-child {
    margin-right: 0px;
  }

  button:hover {
    background-color: var(--ion-color-primary, #3880ff);

    .c-blue {
      color: white;
    }
  }
}

.report-actions {
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0px;
  }
}
