capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#map-cage {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: none;
}

ion-modal ion-content {
  --background: #121212;
}

.filter-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

.my-location-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10000;
}
