.file-uploader {
  width: 100%;
  position: relative;
}

.file-uploader input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.file-uploader ion-button {
  position: relative;
  z-index: 1;
}
